---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  token: op://home-ops/1password/OP_SERVICE_ACCOUNT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network-system
stringData:
  CLOUDFLARE_TUNNEL_ID: op://home-ops/cloudflare/CLOUDFLARE_TUNNEL_ID
