use flake .

export DAGGER_NO_NAG=1
export MINIJINJA_CONFIG_FILE="$(pwd)/.minijinja.toml"
export TALOSCONFIG="$(pwd)/talosconfig"
export KUBECONFIG="$(pwd)/kubeconfig"

if [ -e .env.local ]; then
  set -a
  source .env.local
  set +a
fi

if [ -e .env.dev ]; then
  set -a
  source .env.dev
  set +a
fi
