use flake .

export DAGGER_NO_NAG=1
export MINIJINJA_CONFIG_FILE="$(pwd)/.minijinja.toml"
export TALOSCONFIG="$(pwd)/talosconfig"
export KUBECONFIG="$(pwd)/kubeconfig"

if [ -e .env ]; then
  set -a
  source .env
  set +a
fi
