---
machine:
  type: controlplane
  install:
    disk: /dev/vda
  certSANs:
    - "talos-cp-2"
    - "talos-cp-2.talos.home.kidibox.net"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos-cp-2
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: true
