---
machine:
  type: controlplane
  install:
    disk: /home/vda
  certSANs:
    - "talos-cp-3"
    - "talos-cp-3.talos.home.kidibox.net"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos-cp-3
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: true
