---
# ExternalDNS configuration with MikroTik provider

logLevel: info
logFormat: json

# Source configuration
sources:
  - crd
  - service
  - gateway-httproute
  - gateway-tlsroute
  - gateway-tcproute
  - gateway-udproute
  - gateway-grpcroute

# Domain filtering for lab cluster
domainFilters:
  - lab.kidibox.net

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/mirceanton/external-dns-provider-mikrotik
      tag: v1.5.10@sha256:06a95dc4449352730fa7435573b4282cd2fac70e72fecda75b1f2222c47e1535
      pullPolicy: IfNotPresent
      env:
        - name: LOG_FORMAT
          value: text
        - name: LOG_LEVEL
          value: json
        - name: MIKROTIK_BASEURL
          valueFrom:
            secretKeyRef:
              name: mikrotik-credentials
              key: MIKROTIK_BASEURL
        - name: MIKROTIK_USERNAME
          valueFrom:
            secretKeyRef:
              name: mikrotik-credentials
              key: MIKROTIK_USERNAME
        - name: MIKROTIK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mikrotik-credentials
              key: MIKROTIK_PASSWORD
        - name: MIKROTIK_SKIP_TLS_VERIFY
          valueFrom:
            secretKeyRef:
              name: mikrotik-credentials
              key: MIKROTIK_SKIP_TLS_VERIFY

extraArgs:
  - --ignore-ingress-tls-spec
  - --managed-record-types=A
  - --managed-record-types=AAAA
  - --managed-record-types=CNAME
  - --managed-record-types=TXT
  - --managed-record-types=MX
  - --managed-record-types=SRV
  - --managed-record-types=NS
