---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lab
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kid/home-ops.git
    targetRevision: HEAD
    path: clusters/lab
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
