---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.14.4/manifests/install.yaml
  - addons.yaml

patches:
  - target:
      kind: ConfigMap
      name: argocd-cm
    patch: |
      - op: add
        path: /data
        value:
          kustomize.buildOptions: --enable-helm
